<% FILE_TOOLS.keys.each { |t| %>
	<div class="file_tool_div"
		 data-js="<%= t %>"
         title='<%= FILE_TOOLS[t][:title] %>'
		 >
		 <%= image_tag(FILE_TOOLS[t][:image],
		         class: "file_tool_img")%>
	</div>
<% } %>


