<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @essence_method.name %>
</p>

<%= link_to 'Edit', edit_essence_method_path(@essence_method) %> |
<%= link_to 'Back', essence_methods_path %>
