<%= javascript_tag do %>
	var methodGraph = JSON.parse(<%= raw @essence_method.to_json %>);
<% end %>


<p id="notice"><%= notice %></p>

<h1><%= @essence_method.name %></h1>

<div id="graph_canvas_container">
	<canvas id="graph_canvas" style="border:1px solid #000000;">
		<p>
			This web app is a visual tool for making SEMAT Essence graphs, 
			and relies on canvas functionality.
		</p>
	</canvas>
</div>





<div class="no_display">
	<% concat_all_essence_image_tags %>
</div>



