// Place all the styles related to the EssenceMethods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no_display 
{
	visibility:hidden;
}

#graph_canvas
{
	position: absolute;
	border: 1px solid #000000;
}

#graph_tools_section
{
	position: absolute;
	border: 1px solid #FF0000;
	left: 0px;
}
