// Place all the styles related to the EssenceMethods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.unselectable
{
	-moz-user-select:none;
	-webkit-user-select:none;
}

.graph_app 
{
	overflow: hidden;
}

.no_display 
{
	visibility:hidden;
}

#graph_canvas
{
	position: absolute;
	border: 2px solid #000000;
}

#graph_tools_section
{
	position: absolute;
	border: 2px solid #FF0000;
	left: 0px;
}

#graph_file_section
{
	position: absolute;
	left: 0px;
	top: 0px;
	border: 2px solid #EE00EE;
}

#branding_section
{
	position:absolute;
	left: 0px;
	top: 0px;
	border: 2px solid #11AA11;

	.arthur_img
	{
		height: 100%;
		width: 100%;
	}
}


.draw_tool_element_div
{
	height: 5%;
	width: 100%;
	margin: 1px;
}

.draw_tool_category_div {
	float: left;
	height: 90%;
	width: 28%;
	margin: 1px;

	.draw_tool_element_img {
		position: relative;
		width: 80%;
		height: 80%;
		left: 10%;
		top: 10%;
	}
}

.draw_tool_operation_div {
	height: 8%;
	width: 80%;
	margin-top: 2px;
	margin-left: 8px;
	border: 1px solid purple;

	.draw_tool_operation_img {
		position: relative;
		width: 60%;
		height: 80%;
		left: 20%;
		top: 10%;
	}
}

.file_tool_div {
	float: left;
	height: 85%;
	width: 10%;
	margin: 4px;
	border: 1px solid purple;

	.file_tool_img {
		position: relative;
		width: 80%;
		height: 80%;
		left: 10%;
		top: 10%;
	}
}











.last_selected_tool {
	background-color: #DDDDDD !important;
}



